bitcoinlib==0.7.3
certifi==2025.1.31
charset-normalizer==3.4.1
fastecdsa==3.0.1
idna==3.10
numpy==2.2.4
pycryptodome==3.22.0
requests==2.32.3
SQLAlchemy==2.0.40
typing_extensions==4.13.2
urllib3==2.4.0
